version: "3.9"

services:
  db:
    image: postgres:16
    container_name: esus_db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5434:5432"
    volumes:
      - ./app/data:/docker-entrypoint-initdb.d

  api:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: esus_api
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "${API_PORT}:8001"
    volumes:
      - ./app:/app
      - ./docs:/app/docs
